@import './reset';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "./font";

//Components styles are importing;

@import "./components/app/app";

*, *:after, *:before {
  font-family: 'Arvo', sans-serif !important;
  overflow-x: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}